samplecicd/src/main/mule/samplecicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dd6c582b-6a89-42b0-b962-d207e5a18ebb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="samplecicdFlow" doc:id="37a51f93-de76-4b30-99ba-701e14b8f8d4" >
		<http:listener doc:name="Listener" doc:id="733d9517-cc04-44b2-91c6-f3b6e4c22b0c" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["Sample CI CD Payload"]' doc:name="Set Payload" doc:id="957aea75-f69c-4672-b75c-2799bf0ea9a2" />
	</flow>
</mule>
